# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
*.iml

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Android
**/android/.gradle/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh

# Misc
*.log
